body {
    background-image: url('../images/halloween-2837936_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: orange;
    font-family: 'Creepster', cursive;
}

h1 {
    font-size: 3em;
}



input[type="text"], input[type="email"], textarea {
    font-size: 1.5em;
    width: 400px;
}

input[type="button"] {
    font-size: 1em;
    width: 100px;
    background-color: orange;
    margin-top: 15px;
}


.card {
    background: #808080;
    opacity: .8;
    border-radius: 15px;
    float: right;
    margin-right: 150px;
    padding: 50px;
}


.form-group {
    margin-bottom: 5px;
}
